<!-- TOPBAR -->
<div class="topbar-wrapper">
  <div class="topbar-nav-wrapper">
    <a  routerLink="/chatroom/chatroom"><i class="material-icons topbar-nav-button">mail</i></a>
    <a (click)="onLogout()"><i class="material-icons topbar-nav-button">logout</i></a> <!--account_circle-->
  </div>

  <div class="topbar-search-wrapper">
    <i class="material-icons" style="display: inline-block; color: black; margin-left: 10px; position: absolute; line-height: 43px; ">search</i>

    <!--<input type="text" class="topbar-search-input" placeholder="Trouver un patient">-->
    <div class="ng-autocomplete">
      <ng-autocomplete
        class="topbar-search-input"
        id="autocomplete"
        placeholder="Trouver un patient" 
        [data]="data"
        [searchKeyword]="keyword"
        (selected)='selectEvent($event)'
        (inputFocused)='onFocused($event)'
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate">                                 
      </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name" name="searchResultNomPatient"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
    
  </div>
</div>

<!-- SIDEBAR -->
<div class="sidebar-wrapper">
  <div class="sidebar-header">
    <img src="assets/image/logo.jpg" alt="logo_navbar" height="25px" >
    <label class="sidebar-header-label">iPhysio</label>
  </div>
  
  <div class="sidebar-user">
    <ul>
      <li routerLink="/"><i class="material-icons sidebar-menu-icon">home</i>Accueil</li>
      <li (click)="openDialog()" id="idAjoutPatient"><i class="material-icons sidebar-menu-icon">add_circle_outline</i>Nouveau patient</li>
      <!-- <li><i class="material-icons sidebar-menu-icon">assignment</i>Programmes d'exercices</li> -->
      <li (click)="displayArchive()" id="btnPageArchive"><i class="material-icons sidebar-menu-icon">archive</i>Archive</li>
    </ul>
  </div>
</div>


<div class="dashboard-body">

  <div class="dashboard-background"></div>

  <app-patient-archive *ngIf="dispArchive"></app-patient-archive>
  <app-patient-detail *ngIf="dispPatientDetail" [patient]="patientService.selectedPatient"></app-patient-detail>

  <footer *ngIf="patientService.selectedPatient" class="page-footer">
      <div class="container-left">
        <label style="color: white">© 2020 <b>iPhysio</b> Tous droits réservés</label>
      </div>
      <div class="container-right">
        <label style="color: white">Conçu et développé par <b>EPMUS</b></label>
      </div>
  </footer>
</div>
