<div class="layout-div" ng-style="{'background-color':'black'}">
    <div class="col-div">
        <div class="card-div">
            <div class="body-card">
                <div class="card-component">
                    <img src="assets/image/logo.jpg" alt="logo" height="100px">
                </div>
                <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
                    <div class="card-component">
                        <div class="form-group">
                            <input type="text" name="email" ngModel class="form-control rounded-0" placeholder="Adresse courriel" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="hash" ngModel class="form-control rounded-0" placeholder="Mot de passe" required>
                        </div>
    
                        <div *ngIf="wrongCred" class="warning-div">
                            <label id="idLblBadPass" class="warning-label">Adresse courriel et/ou mot de passe invalide</label>
                        </div>
                    </div>
                   
                    <div class="card-component">
                        <button class="btn primary-color login-btn" name="btnConnexion" type="submit" [disabled]="!loginForm.valid">Se connecter</button>
                        <button class="btn primary-color login-btn" name="btnCreerUtilisateur" type="button" routerLink="/create-user">Créer un compte</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>