.example-container {
    display: flex;
    padding: 10px;
  }
  
  
  
  .left-drawer {
    width: 225px;
  }
  
  .users-pane {
    height: 50px;
    cursor: pointer;
  }

  .users-card:hover {
    background-color: #f2f2f2;
  }

  .user-selected {
    background-color: #f2f2f2;
  }
  
  .username {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
  }
  
  /*footer.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border-top: solid 1px #efefef;
  }*/
  
  .message-form {
    margin-left: 200px;
  }
  
  .message-form-field {
    width: 94%;
    margin: 0 4% 0 2%;
  }
  
  .message-box {
    float: left;
    width: 98%;
    margin: 5px 0 0 2%;
    overflow-wrap: break-word;
  }

  .chat-pane {
    width: 800px;
  }
  
  .chat-message {
    width: 80%;
    min-height: 40px;
  }
  
  .chat-message .right-bubble {
    position: relative;
    background: #dcf8c6;
    border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
    padding: 5px 10px 10px;
    left: 15%;
  }
  
  .chat-message .right-bubble span.msg-name {
    font-size: 12px;
    font-weight: bold;
    color: green;
  }
  .chat-message .right-bubble span.msg-date {
    font-size: 10px;
  }
  
  .chat-message .right-bubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 13px;
    width: 0;
    height: 0;
    border: 27px solid transparent;
    border-left-color: #dcf8c6;
    border-right: 0;
    border-top: 0;
    margin-top: -13.5px;
    margin-right: -27px;
  }
  .chat-message .left-bubble {
    position: relative;
    background: lightblue;
    border-top-right-radius: .4em;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
    padding: 5px 10px 10px;
    left: 5%;
  }
  .chat-message .left-bubble span.msg-name {
    font-size: 12px;
    font-weight: bold;
    color: blue;
  }
  .chat-message .left-bubble span.msg-date {
    font-size: 10px;
  }
  .chat-message .left-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 13px;
    width: 0;
    height: 0;
    border: 27px solid transparent;
    border-right-color: lightblue;
    border-left: 0;
    border-top: 0;
    margin-top: -13.5px;
    margin-left: -27px;
  }
  
  .chat-message .chat-status {
    min-height: 49px;
  }
  
  .chat-message .chat-status .chat-date {
    display: block;
    font-size: 10px;
    font-style: italic;
    color: #fff;
    text-shadow: 0px -1px 0px #222, 0px 1px 0px #aaa;
    height: 15px;
    left: 10%;
    right:10%;
  }
  
  .chat-message .chat-status .chat-content-center {
    padding: 5px 10px;
    background-color: #e1e1f7;
    border-radius: 6px;
    font-size: 12px;
    color: #555;
    height: 34px;
    left: 10%;
    right:10%;
  }
  
  .chat-content {
    overflow-y: scroll;
    height: 600px;
  }





  .sidebar-wrapper {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 17%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar-header {
    height: 65px;
    width: 100%;
    text-align: center;
    padding-top: 12px;
    border-bottom: 1px solid #f2f2f2;
}

.sidebar-header-label {
    font-size: 27px;
    padding-left: 8px;
    color: #333;
    font-weight: 400;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.sidebar-user {
    height: 100px;
    width: 100%;
}

.sidebar-user > ul {
    margin-top: 0;
}

.sidebar-user > ul > li {
    padding-top: 15px;
    padding-left: 15px;
    height: 50px;
    transition: all .2s ease;
    cursor: pointer;
    color: #595959;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.sidebar-user > ul > li:hover {
    background-color: #f2f2f2;
}

.sidebar-menu-icon {
    margin-right: 25px;
    vertical-align: middle;
    margin-top: -5px;
}

// Topbar
.topbar-wrapper {
    position: fixed;
    left: 17%;
    z-index: 499;
    width: 83%;
    height: 65px;
    background-image: linear-gradient(to right, #0083A9 , #00b4e6);
}
.dashboard-body {
  width: 100% - 17%;
  height: 100%;
  margin-left: 17%;
  padding-top: 65px;
}

/*mat-drawer-container {
  height: 100%;
}*/


.container{
  max-width:100%; 
  margin:auto;
  height: 100%;

}
  
footer {
  padding-top: 5px;
  margin-top: 5px;
}

.page-footer {
  position: relative;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to right, #0083A9 , #00b4e6);
  padding: 10px;
  bottom: 0;
}