<div class="topbar-wrapper">
   
</div>

<!-- SIDEBAR -->
<div class="sidebar-wrapper">
  <div class="sidebar-header">
    <img src="assets/image/logo.jpg" alt="logo_navbar" height="25px" >
    <label class="sidebar-header-label">iPhysio</label>
  </div>
  
  <div class="sidebar-user">
    <ul>
      <li routerLink="/"><i class="material-icons sidebar-menu-icon">home</i>Accueil</li>
      <!-- <li (click)="openDialog()" id="idAjoutPatient"><i class="material-icons sidebar-menu-icon">add_circle_outline</i>Nouveau patient</li> -->
      <!-- <li><i class="material-icons sidebar-menu-icon">assignment</i>Programmes d'exercices</li> -->
      <!-- <li (click)="displayArchive()" id="btnPageArchive"><i class="material-icons sidebar-menu-icon">archive</i>Archive</li> -->
    </ul>
  </div>
</div>


<div class="dashboard-body">
    
  <div class="container">
    <div class="example-container mat-elevation-z8">
      <mat-drawer-container >
        <mat-drawer mode="side" opened class="left-drawer">
          <div class="users-pane">
            <mat-card class="users-card" *ngFor="let patient of patientsList" (click)="openConversation(patient)">
              <mat-icon>person</mat-icon> <span class="username">{{patient.name}}</span>
            </mat-card>
          </div>
        </mat-drawer>
        <mat-drawer-content class="chat-pane">
          <div #chatcontent [scrollTop]="scrolltop" class="chat-content">
            <div class="message-box" *ngFor="let chat of chats">
              <div class="chat-message" *ngIf = "chat.toId != physioId">
                <div class="right-bubble">
                  <span class="msg-date">{{chat.timestamp*1000 | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
                  <p text-wrap>{{chat.message}}</p>
                </div>
              </div>
                <div class="chat-message" *ngIf = "chat.toId == physioId">
                  <div class="left-bubble">
                    <span class="msg-date">{{chat.timestamp*1000 | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
                    <p text-wrap>{{chat.message}}</p>
                  </div>
                </div>
            </div>
          </div>
          <footer >
            <form class="message-form" [formGroup]="chatForm" (ngSubmit)="onFormSubmit(chatForm.value)">
              <mat-form-field class="message-form-field">
                <input matInput placeholder="Entrez votre message ici" formControlName="message"
                        [errorStateMatcher]="matcher">
                <mat-error>
                  <span *ngIf="!chatForm.get('message').valid && chatForm.get('message').touched">Entrez votre message</span>
                </mat-error>
                <button type="submit" [disabled]="!chatForm.valid" mat-button matSuffix mat-icon-button aria-label="Send">
                  <mat-icon>send</mat-icon>
                </button>
              </mat-form-field>
            </form>
          </footer>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  
          
  </div>

</div>
