<div class="layout-div">
    <div class="col-div">
        <div class="card-div">
            <div class="body-card">
                <div class="card-component">
                    <img src="assets/image/logo.jpg" alt="logo" height="100px">
                </div>
                <form #createForm="ngForm" (ngSubmit)="onCreateUserSubmit(createForm)">
                    <div class="form-group">
                        <input name="email" ngModel type="text" class="form-control rounded-0" placeholder="Adresse courriel" required>
                    </div>
                    <div class="form-group">
                        <input name="name" ngModel type="text" class="form-control rounded-0" placeholder="Nom complet" required>
                    </div>
                    <div class="form-group">
                        <input name="hash" ngModel type="password" class="form-control rounded-0" placeholder="Mot de passe" required>
                    </div>
                    <button class="btn primary-color login-btn" type="submit" [disabled]="!createForm.valid">S'inscrire</button>
                    <a type="button" routerLink="/login" style="margin-top: 10px;">J'ai déjà un compte</a>
                </form>
            </div>
        </div>
    </div>
</div>