<h2 mat-dialog-title>Inscrivez-vous</h2>

<form #createForm="ngForm" (ngSubmit)="onCreateUserSubmit(createForm)">
    <input type="text" name="email" ngModel placeholder="Saisissez une adresse e-mail" required>

    <input type="text" name="name" ngModel placeholder="Saisissez votre nom complet" required>

    <input type="password" name="password" ngModel placeholder="Saisissez le mot de passe" required>

    <mat-dialog-actions>
        <button class="waves-effect waves-light btn-small" type="submit" [disabled]="!createForm.valid">S'inscrire</button>
    </mat-dialog-actions>

    <mat-dialog-actions>
        <a routerLink="/login">Je possède déjà un compte</a>
    </mat-dialog-actions>
    
</form>