<div class="layout-div">
    <div class="col-div">
        <div class="card-div">
            <div class="header-div">
                <h3 class="title">Créer un compte</h3>
            </div>
            <div class="body-card">
                <form #createForm="ngForm" (ngSubmit)="onCreateUserSubmit(createForm)">
                    <div class="form-group">
                        <label for="">Adresse courriel</label>
                        <input name="email" ngModel type="text" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="">Nom complet</label>
                        <input name="name" ngModel type="text" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="">Mot de passe</label>
                        <input name="hash" ngModel type="password" class="form-control rounded-0" required>
                    </div>
                    <button class="btn btn-primary login-btn" type="submit" [disabled]="!createForm.valid">S'inscrire</button>
                    <a type="button" routerLink="/login">J'ai déjà un compte</a>
                </form>
            </div>
        </div>
    </div>
</div>