<div class="wrapper">
    
    <div>

        <div style="width: 100%;">

            <div>
                <label>Nom du programme</label>
                <input type="text" [(ngModel)]="data.nom"/>
            </div>
    
        </div>

        <div class="grid-container">
            <div class="grid-child grid-exercices">
                <div class="card-header">
                    <label>Banque d'exercices</label>
                </div>
                <ul>
                    <div class="input-field">
                        <i class="material-icons prefix">search</i>
                        <input type="text" />        
                    </div>
                    <li class="list-exercices" *ngFor="let exer of exercices" (click)="newExercice(exer)">
                        {{exer.name}}
                    </li>    
                </ul>
            </div>
    
            <div class="grid-child grid-programme">
                <div class="card-header">
                    <label>Programme</label>
                </div>
                <ul>
                    <li class="list-exercices" *ngFor="let exer of data.exercices; let i = index;" (click)="showExerciceParam(exer, i)">
                        {{exer.nom}}
                        <a class="secondary-content" (click)="deleteExercice(i)" style="color: red"><i class="material-icons">close</i></a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div>
            <button class="waves-effect waves-light btn-small custom-button"
                (click)="sauvegarder()" >
                Sauvegarder
            </button>
        </div>
    </div>
</div>


