<div class="wrapper">
    
<div class="row">

<ul class="collection with-header col s12 m6 l3">
    <li class="collection-header"><h5>Programme</h5></li>
    <!--<li class="collection-item">Exercice 1<a href="#" class="secondary-content"><i class="material-icons">delete</i></a></li>
    <li class="collection-item">Exercice 2<a href="#" class="secondary-content"><i class="material-icons">delete</i></a></li>
    <li class="collection-item">Exercice 3<a href="#" class="secondary-content"><i class="material-icons">delete</i></a></li>
    <li class="collection-item">Exercice 4<a href="#" class="secondary-content"><i class="material-icons">delete</i></a></li>-->

    <li class="collection-item" *ngFor="let exer of data.exercices; let i = index;" (click)="showExerciceParam(exer, i)">{{exer.nom}}<a href="#" class="secondary-content"><i class="material-icons">delete</i></a></li>
</ul>

<div id="id_boite_exercices" class="col s12 m6 l3">

<ul class="collection with-header">
    <li class="collection-header"><h5>Exercices</h5></li>
    <div class="input-field">
        <i class="material-icons prefix">search</i>
        <input type="text" />        
    </div>
    <li class="collection-item" *ngFor="let exer of exercices">{{exer.name}}</li>
    <!--<li class="collection-item">Exercice 2</li>
    <li class="collection-item">Exercice 3</li>
    <li class="collection-item">Exercice 4</li>
    <li class="collection-item">Exercice 4</li>-->
    
</ul>
</div>
<div id="containerOption" class="col s12 m12 l6" *ngIf="exercType==null"></div>
<div class="col s12 m12 l6" *ngIf="exercType">
    <h4>Options d'exercice </h4>
    <p>Exercice : ({{exercType}})</p>
    <div class="row"> 
        <div class="col s12">
        <label>Nom:</label>
        <input type="text" [(ngModel)]="exerciceNom"/>
        </div>
        <div class="col s12">
            <!--<mat-label>Type</mat-label>
            <mat-select [(value)]="exerciceFrequence">
            <mat-option>None</mat-option>
            <mat-option value="journalier">Journalier</mat-option>
            <mat-option value="hebdomadaire">Mensuel</mat-option>
            <mat-option value="option3">Option 3</mat-option>
            </mat-select>-->
            <label>Repetition par jours</label>
            <input type="number" [(ngModel)]="exerciceFrequence">
        </div>
        <mat-form-field class="col s6">
            <mat-label>Date de début</mat-label>
            <input matInput [matDatepicker]="datedebut"  [(ngModel)]="dateDebut">
            <mat-datepicker-toggle matSuffix [for]="datedebut"></mat-datepicker-toggle>
            <mat-datepicker #datedebut></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col s6">
            <mat-label>Date de fin</mat-label>
            <input matInput [matDatepicker]="datefin" [(ngModel)]="dateFin">
            <mat-datepicker-toggle matSuffix [for]="datefin"></mat-datepicker-toggle>
            <mat-datepicker #datefin></mat-datepicker>
        </mat-form-field>
        <div class="radiogroup col s12">
            <mat-checkbox [(ngModel)]="dimanche">Dimanche</mat-checkbox>
            <mat-checkbox [(ngModel)]="lundi">Lundi</mat-checkbox>
            <mat-checkbox [(ngModel)]="mardi">Mardi</mat-checkbox>
            <mat-checkbox [(ngModel)]="mercredi">Mercredi</mat-checkbox>
            <mat-checkbox [(ngModel)]="jeudi">Jeudi</mat-checkbox>
            <mat-checkbox [(ngModel)]="vendredi">Vendredi</mat-checkbox>
            <mat-checkbox [(ngModel)]="samedi">Samedi</mat-checkbox>
        </div>
        <div class="right-align">
        <button class="right-aligned" mat-raised-button (click)="ajoutElement()">{{sauvegarderOptions}}</button>
        </div>
    </div>
</div>

</div>

<div class="row">

    <div class="col s6">
        <label>Nom du programme</label>
        <input type="text" [(ngModel)]="data.nom"/>
    </div>

</div>

<div class="row">
    <div class="divider"></div>
    <mat-dialog-actions>
    
        <button class="waves-effect waves-light btn-small"
               (click)="fermer()" >
            Fermer
        </button>
    
        <button class="waves-effect waves-light btn-small"
               (click)="sauvegarder()" >
            Sauvegarder
        </button>
    
    </mat-dialog-actions>
</div>
</div>


