.input-field {
    margin-right: 20px;

}

.mat-checkbox {
    margin-right: 10px;
}

button {
    margin-right: 10px;
    margin-top: 20px;
}

.radiogroup {
    padding-left: 20px;
}

.wrapper {

    height: 650px;
}


#containerOption {
    width: 400px;
}

label {
    margin-bottom: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.grid-child {
    height: 500px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.card-header > label {
    font-size: 20px;
    color: #595959;
}

.list-exercices {
    padding: 15px;
}

.list-exercices:hover {
    transition: all .2s ease;
    cursor: pointer;
    background-color: #f2f2f2;
}

.custom-button {
    background-color: #00b4e6;
    outline: none;
    color: white;
}

.custom-button:hover {
    background-color: #0083A9;
}