
<div class="row">


<ul class="collection with-header col s4">
    <li class="collection-header"><h4>Programme</h4></li>
    <li class="collection-item">Exercice 1<a href="#"><i class="material-icons right">delete</i></a></li>
    <li class="collection-item">Exercice 2<a href="#"><i class="material-icons right">delete</i></a></li>
    <li class="collection-item">Exercice 3<a href="#"><i class="material-icons right">delete</i></a></li>
    <li class="collection-item">Exercice 4<a href="#"><i class="material-icons right">delete</i></a></li>
</ul>

<div id="id_boite_exercices" class="col s4">


<ul class="collection with-header">
    <li class="collection-header"><h4>Exercices</h4></li>
    <div class="input-field">
        <i class="material-icons prefix">search</i>
        <input type="text" />        
    </div>
    <li class="collection-item">Exercice 1</li>
    <li class="collection-item">Exercice 2</li>
    <li class="collection-item">Exercice 3</li>
    <li class="collection-item">Exercice 4</li>
</ul>


</div>

<div class="col s4">
    <label>Nom:</label>
    <input type="text" />
    <label>Browser Select</label>
    <select class="browser-default">
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <input type="text" />




        

</div>


</div>

<div class="row">

    <label>Nom du programme</label>
    <input type="text" />
    <mat-dialog-actions>
    
        <button class="waves-effect waves-light btn-small"
                >
            Fermer
        </button>
    
        <button class="waves-effect waves-light btn-small"
                >
            Sauvegarder
        </button>
    
    </mat-dialog-actions>
    </div>

    

