/*.parent {
    position: relative;
    overflow-x:hidden;
    height: 100%;
}


.vert-nav {
    display: inline-block;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.patients{
    border: 1px solid rgb(115, 183, 192);
    list-style-type: none;
    padding: 0;
    background-color: rgb(244, 245, 247);
    overflow-y: hidden;
    
}

.patients li {
    cursor: pointer;
}

.patients li.selected {
    background-color: rgba(32, 141, 155, 0.856);
    color: rgb(255, 255, 255);
  }

.patients li:hover {
    background-color: rgb(64, 174, 189);
  }

.patient-container {
    border: 1px solid rgb(99, 218, 182);
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    height: 100%;
    /*width: 100%;*/
    //position: absolute;
    /*position: fixed;*/
   // overflow-x: hidden;
//}
//.encadre-list-patient {
   // display: inline-block;
//}