<div class="row">
    <div class="vert-nav col s12 m2">
        <div class="wrapper">

            <div class="input-field">
                <i class="material-icons prefix">search</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Recherche un patient</label>
            </div>

            <ul class="patients">
                <li *ngFor="let patient of patients"
                [class.selected]="patient === selectedPatient"
                (click)="onSelect(patient)">
                    {{patient.name}}
                </li>
            </ul>
        </div>
    </div>

    <div class="container col s12 m10">
        <app-patient-detail [patient]="selectedPatient"></app-patient-detail>
    </div>
</div>