<div class="row" id="container-div">
    <div class="col s12 m12">
        <label>Nom :</label>
        <input type="text" value="{{data.name}}">
        <label>Email :</label>
        <input type="text" value="{{data.email}}">
        <label>Diagnostic : </label>
        <input type="text" value="Tendinite à l'épaule droit">

        <button class="waves-effect waves-light btn-small">
            Enregistrer
        </button>
        <button class="waves-effect waves-light btn-small" style="margin-left: 10px;">
            Archiver
        </button>
    </div>
</div>