<h2 mat-dialog-title>Nouveau Patient</h2>

<form #newPatientForm="ngForm" (ngSubmit)="onSubmit(newPatientForm)">
    <ul>
        <li style="margin-bottom: 10px;">
            <label style="color: red;">* Obligatoire</label>
        </li>
        <li>
            <label>Nom :
                <label class="red-text">*</label>
            </label>
            <input type="text" id="inpNewPatientFullName" name="name" ngModel placeholder="Nom complet" required>
        </li>

        <li>
            <label>Adresse courriel :
                <label class="red-text">*</label>
            </label>
            <input type="text" id="inpNewPatientEmail" name="email" ngModel placeholder="Adresse courriel" required>
        </li>

        <li>
            <label>Numéro de téléphone :</label>
            <input type="text" name="phone" ngModel placeholder="Numero de téléphone">
        </li>

        <li>
            <label>Adresse : </label>
            <input type="text" name="adress" ngModel placeholder="Adresse">
        </li>

        <li>
            <label>Physiothérapeute responsable: </label>
            <mat-select [(value)]="selectedPhysio" >
                <mat-option *ngFor="let physio of physios" [value]="physio._id">{{physio.name}}</mat-option>        
            </mat-select>
        </li>
    </ul>
    <div>
        <button id="btnNewPatientCreer" class="waves-effect waves-light btn-small custom-button" type="submit" [disabled]="!newPatientForm.valid" >Créer</button> <!--style="width: 100%; height: 40px;"-->
        
        <button id="btnEditAnnuler" type="button" (click)="annuler()"  class="waves-effect waves-light btn-small custom-button" style="margin-left: 5px;">
            Annuler
        </button>
    </div>
</form>

