.custom-button {
    background-color: #00b4e6;
    outline: none;
    color: white;
}

.custom-button:hover {
    background-color: #0083A9;
}

li {
    margin-bottom: 50px;
}

label {
    margin-bottom: 0;
}

