.example-container {
    position: relative;
    padding: 10px;
  }
  
  .example-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .button-row {
    margin: 10px 0;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }









  .sidebar-wrapper {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 17%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar-header {
    height: 65px;
    width: 100%;
    text-align: center;
    padding-top: 12px;
    border-bottom: 1px solid #f2f2f2;
}

.sidebar-header-label {
    font-size: 27px;
    padding-left: 8px;
    color: #333;
    font-weight: 400;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.sidebar-user {
    height: 100px;
    width: 100%;
}

.sidebar-user > ul {
    margin-top: 0;
}

.sidebar-user > ul > li {
    padding-top: 15px;
    padding-left: 15px;
    height: 50px;
    transition: all .2s ease;
    cursor: pointer;
    color: #595959;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.sidebar-user > ul > li:hover {
    background-color: #f2f2f2;
}

.sidebar-menu-icon {
    margin-right: 25px;
    vertical-align: middle;
    margin-top: -5px;
}

// Topbar
.topbar-wrapper {
    position: fixed;
    left: 17%;
    z-index: 499;
    width: 83%;
    height: 65px;
    background-image: linear-gradient(to right, #0083A9 , #00b4e6);
}
.dashboard-body {
  width: 100% - 17%;
  height: 100%;
  margin-left: 17%;
  padding-top: 65px;
}
.container{max-width:100%; margin:auto;}