<div *ngIf="patient">
    <div class="grid-container">

        <div class="info">
            <div class="card-header">
                <label>Informations</label>
                <a (click)="editPatient(patient)"><i class="material-icons" style="position: relative; float: right; margin-top: 13px; color: #595959; cursor: pointer;">settings</i></a>
            </div>
            <p>Nom : {{patient.name}}</p>
            <p>Email : {{patient.email}}</p>
            <p>Telephone : {{patient.telephone}}</p>
            <p>Adresse : {{patient.adresse}}</p>
        </div>

        <div class="graph">
            <div class="card-header">
                <label>Graphique d'activités</label>
                <a title="Mettre à jour les graphiques"><i class="material-icons" style="position: relative; float: right; margin-top: 13px; color: #595959; cursor: pointer;">refresh</i></a>
            </div>
            <div id="chartContainer" style=" width: 100%;">
                <app-line-chart></app-line-chart>
                <app-pie-chart></app-pie-chart>
                <!--<div style="display: inline-block; padding-left: 5px;">
                    <img src="assets/image/graph/seances.png" alt="seance" width="400px" height="250px" >
                </div>
                <div style="display: inline-block; padding-left: 5px;">
                    <img src="assets/image/graph/erreurs.png" alt="erreurs" width="400px" height="250px">
                </div>-->

            </div> 
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


        </div>

        <div class="historique">
            <div class="card-header">
                <label>Historique des activités</label>
            </div>
            <div class="card-content">
                <ul>
                    <li *ngFor="let hist of historiqueService.historique" (click)="openHistorique(hist)"> 
                        <div class="historique-header">
                            <label class="hist-label" style="float: left; font-weight: 400;">{{hist.date}}</label>
                            <label class="hist-label" style="float: right; font-weight: 600;">{{hist.programme_id}}</label>
                            
                        </div>
                        <div>
                            <div class="historique-stats">
                                <label class="hist-label" style="position: relative; top: -10px;">Durée : {{hist.duree}} ; 6 exercices</label>
                            </div>
                            <div class="historique-score">
                                <label class="hist-label" style="font-size: 16px; font-weight: 400; position: relative; top: -10px">97%</label>
                            </div>
                            <div style="clear: both;"></div>
                        </div>  
                    </li>
                </ul>
            </div>

            
        </div>
        <div class="programs">
            <div class="card-header">
                <label>Programmes</label>
                <a (click)="editProgram()"><i class="material-icons" style="position: relative; float: right; margin-top: 13px; color: #009900; cursor: pointer;">add_box</i></a>
            </div>

            <div class="card-content">
                <ul>
                    <li *ngFor="let pro of patientService.programmeList" (click)="editProgram(pro)">
                        <label class="hist-label" style="margin-left: 10px; position: relative; top: -6px;">{{pro.nom}}</label>          
                        <a class="secondary-content" (click)="deleteProgramme(pro);$event.stopPropagation()"><i class="material-icons" style="color: red">clear</i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="item5">
            <div class="card-header">
                <label>Commentaires</label>
                <ul>
                    <li  >
                            
                        <div class="historique-stats">
                            <label class="hist-label" style="float: left; font-weight: 400;">9 avril 2020</label>
                            <label class="hist-label" style="float: left; font-weight: 400;">J'ai eu de la difficulté à effectué l'exercice d'étirement du trapèze</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-content">
                <ul>
                    <li>
                        <div class="historique-header">
                            <label class="hist-label" style="float: left; font-weight: 600;">Flexion de l'épaule</label>
                            <label class="hist-label" style="float: right; font-weight: 400;">2020-05-29</label>
                        </div>
                        <div style="text-align: left; width: 100%;">
                            <textarea readonly disabled="disabled" class="hist-label" style="resize: none; border: none; padding-left: 15px;">"J'ai trouvé que l'exercice #3 était trop difficile.  J'ai mal quand je monte mon bras plus haut que l'épaule."</textarea>
                        </div>
                    </li>
                    <li>
                        <div class="historique-header">
                            <label class="hist-label" style="float: left; font-weight: 600;">Flexion de l'épaule</label>
                            <label class="hist-label" style="float: right; font-weight: 400;">2020-05-27</label>
                        </div>
                        <div style="text-align: left; width: 100%;">
                            <textarea readonly disabled="disabled" class="hist-label" style="resize: none; border: none; padding-left: 15px;">"C'est plus facile aujourd'hui, je n'ai presque plus mal."</textarea>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="notes">
            <div class="card-header">
                <label>Notes</label>
            </div>
            <!--<div class="card-content">-->
                <!--<textarea style="height: 100%; border: none; padding: 15px; font-size: 13px; line-height: inherit; resize: none;" rows="14" cols="50">
                    {{patientService.selectedPatient.notes}}
                </textarea>-->
                <textarea  [(ngModel)]="patientService.selectedPatient.notes" class="note-text" rows="10">   
                    
                </textarea>
                <button  mat-raised-button (click)="saveNote()">Enregistrer</button>
            <!--  </div>-->
        </div>
    </div>
</div>