.historique-wrapper {
    display: inline-block;
    margin-right: 20px;
}

.note-wrapper {
    width: 300px;
    display: inline-block;
}

/*.collection {
    overflow-y: scroll;
}*/

.collection-item:hover {
    background-color: rgb(71, 171, 179);
    cursor: pointer;
}

.btn-floating {
    margin-top: 10px;
    display: block;
}

.wrapper {
    padding-top: 90px;
    padding-right: 30px;
}