<div *ngIf="patient">
    <div class="grid-container">

        <div class="info">
            <div class="card-header">
                <label>Informations</label>
                <a (click)="editPatient(patient)" id="btnEditPatient"><i class="material-icons" style="position: relative; float: right; margin-top: 13px; color: #595959; cursor: pointer;">settings</i></a>
            </div>
            <div style="text-align: center;">
                <img src="assets/image/empty_user.jpg" style="border-radius: 100%; width: 80px; height: 80px; margin-top: 30px; margin-bottom: 18px;">
                <ul class="info-text">
                    <li style="font-size: 20px; font-weight: bold; margin-bottom: 20px;" id="lblPatientName">{{patient.name}}</li>
                    <li id="lblPatientEmail">{{patient.email}}</li>
                    <li id="lblPatientTelephone">{{patient.telephone}}</li>
                    <li>
                        <a href="#"><i class="material-icons" style="font-size: 35px; margin-top: 15px; color: #00b4e6; cursor: pointer;">chat</i></a>
                    </li>
                </ul>
            </div> 
        </div>

        <div class="graph">
            <div class="card-header">
                <label>Graphique d'activités</label>
                <a title="Mettre à jour les graphiques"><i class="material-icons" style="position: relative; float: right; margin-top: 13px; color: #595959; cursor: pointer;">refresh</i></a>
                <div>
                <label>début</label>
                <input matInput [matDatepicker]="picker" id="idInpDateGraph" (dateChange)="dateStartChange('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <label>fin</label>
                <input matInput [matDatepicker]="picker2" id="idInpDateEndGraph" (dateChange)="dateEndChange('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                </div>
                
                
                
                
            </div>
            <div id="chartContainer" style=" width: 100%; text-align: center;">
                <app-line-chart style="margin-right: 100px;"></app-line-chart>
                <app-pie-chart></app-pie-chart>
                <app-movements-graph></app-movements-graph>
                
            </div> 

        </div>

        <div class="historique">
            <div class="card-header">
                <label>Historique des activités</label>
            </div>
            <div class="card-content">
                <ul>
                    <li *ngFor="let hist of historiqueService.historique" (click)="openHistorique(hist)"> 
                        <div class="historique-header">
                            <label class="hist-label" style="float: left; font-weight: 400;">{{hist.date}}</label>
                            <label class="hist-label" style="float: right; font-weight: 600;">{{hist.programme_id}}</label>
                        </div>
                        <div>
                            <div class="historique-stats">
                                <label class="hist-label" style="position: relative; top: -10px;">Durée : {{hist.duree}}</label>
                            </div>
                            <div style="clear: both;"></div>
                        </div>  
                    </li>
                </ul>
            </div>

            
        </div>
        <div class="programs">
            <div class="card-header">
                <label>Programmes</label>
                <a (click)="editProgram()" id="btnAddProgram"><i class="material-icons" style="position: relative; float: right; margin-top: 13px; color: #00b4e6; cursor: pointer;">add_box</i></a>
            </div>

            <div class="card-content">
                <ul id="lstProgrammeExercice">
                    <li *ngFor="let pro of patientService.programmeList" (click)="editProgram(pro)">
                        <label class="hist-label" style="margin-left: 10px; position: relative; top: -6px;">{{pro.nom}}</label>          
                        <a class="secondary-content" (click)="deleteProgramme(pro);$event.stopPropagation()"><i class="material-icons" style="color: red">clear</i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="item5">
            <div class="card-header">
                <label>Commentaires</label>
            </div>
            <div class="card-content">
                <ul>
                    <li>
                        <div class="historique-header">
                            <label class="hist-label" style="float: left; font-weight: 600;">Flexion de l'épaule</label>
                            <label class="hist-label" style="float: right; font-weight: 400;">2020-05-29</label>
                        </div>
                        <div style="text-align: left; width: 100%;">
                            <textarea readonly disabled="disabled" class="hist-label" style="resize: none; border: none; padding-left: 15px;">"J'ai trouvé que l'exercice #3 était trop difficile.  J'ai mal quand je monte mon bras plus haut que l'épaule."</textarea>
                        </div>
                    </li>
                    <li>
                        <div class="historique-header">
                            <label class="hist-label" style="float: left; font-weight: 600;">Flexion de l'épaule</label>
                            <label class="hist-label" style="float: right; font-weight: 400;">2020-05-27</label>
                        </div>
                        <div style="text-align: left; width: 100%;">
                            <textarea readonly disabled="disabled" class="hist-label" style="resize: none; border: none; padding-left: 15px;">"C'est plus facile aujourd'hui, je n'ai presque plus mal."</textarea>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="notes">
            <div class="card-header">
                <label>Notes</label>
            </div>
            <div class="card-content">
                <div style="margin: 10px;">
                    <textarea [(ngModel)]="patientService.selectedPatient.notes" class="note-text" rows="10"></textarea>
                    <button (click)="saveNote()" class="btn-small custom-button">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
</div>