<div *ngIf="patient" class="wrapper">
    <h5>Nom du patient: {{patient.name}}</h5>
    <div class="divider"></div>

    <div class="row">
        <ul class="collection with-header col s12 m6 l4">
            <li class="collection-header"><h4>Historique des activite</h4></li>
            <li class="collection-item">
                <p>Activite 1 <br>
                    Detail
                 </p>
            </li>
            <li class="collection-item">
                <p>Activite 2 <br>
                    Detail
                 </p>
            </li>
            <li class="collection-item">
                <p>Activite 3 <br>
                    Detail
                 </p>
            </li>
            <li class="collection-item">
                <p>Activite 4 <br>
                    Detail
                 </p>
            </li>        
        </ul>   
        
        <div class="col s12 m6 l4">
        
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Note</label>
                </div>
              </div>
            </form>
        </div>

        <ul class="collection with-header col s12 m6 l4">
            <li class="collection-header">
                <h4>Programme<a class="secondary-content btn-small waves-effect waves-light" (click)="editProgram()"><i class="material-icons">add</i></a>      </h4> 
                         
            </li>
            <!--<li class="collection-item" (click)="editProgram()">Programme 1               
                 <a class="secondary-content"><i class="material-icons">delete</i></a>
            </li>
            <li class="collection-item" (click)="editProgram()">Programme 2               
                <a class="secondary-content"><i class="material-icons">delete</i></a>
           </li>
           <li class="collection-item" (click)="editProgram()">Programme 3               
                <a class="secondary-content"><i class="material-icons">delete</i></a>
            </li>
            <li class="collection-item" (click)="editProgram()">Programme 4               
                <a class="secondary-content"><i class="material-icons">delete</i></a>
            </li>-->


            <li class="collection-item" *ngFor="let pro of patientService.programmeList" (click)="editProgram(pro)">{{pro.nom}}          
                <a class="secondary-content" (click)="deleteProgramme(pro);$event.stopPropagation()"><i class="material-icons">delete</i></a>
            </li>



            


        </ul>



    </div>

    <div class="col s12">
        <div>Stats</div>     
    </div>
</div>
  
