.card-content {
    min-height: 300px;
    border: 1px solid #e6dfdf;
    border-radius: 3px;
    height: 93%;
    padding-left: 15px;
}

.card-content > ul > li {
    border: 1px solid #f2f2f2;
    transition: all .2s ease;
    cursor: pointer;
    height: 50px;
    padding-top: 10px;
}

.card-content > ul > li:hover {
    background-color: #cfcccc;
}

.archive {
    width: 300px;
}

table {
    width: 100%;
  }