<a routerLink="/login">Login</a>
<a routerLink="/admin">go to admin</a>

  <nav>
    <div class="nav-wrapper teal lighten-3">
      <button class="btn waves-effect waves-light" (click)="openDialog()">Ajouter un patient</button>
  
      <ul id="nav-mobile" class="right hide-on-med-and-down ">
        <li><a href="#"> <i class="material-icons">mail</i></a></li>
        <li><a href="#"><i class="material-icons">help</i></a></li>
        <li><a href="#"><i class="material-icons">portrait</i></a></li>
      </ul>
    </div>
  </nav>


<app-patients></app-patients>


<footer class="page-footer teal lighten-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">EPMUS</h5>
        <p class="grey-text text-lighten-4">BLABLABLABLABLA</p>
      </div>      
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by EPMUS
    </div>
  </div>
</footer>




<!--<app-patients></app-patients>-->

<!--<app-patient></app-patient> -->