
<div>
    <div style="margin-bottom: 30px;">
        <h4>
            <input type="text" style="font-weight: bold;" [(ngModel)]="selectedExercice.parametres.nom"/> 
        </h4>
    </div>
    <label class="title" style="text-align: left;">Description de l'exercice</label>
    <div class="grid-container">
        <div class="description">
            <textarea name="description" [(ngModel)]="selectedExercice.parametres.description"></textarea>
        </div>
        <div class="parametres">
            <div class="grid-container-parameters">
                <div *ngIf="selectedExercice.refExercice.name!='Étirement du trapèze'" class="reps">
                    <label>Répétition</label>
                    <input type="number" [(ngModel)]="selectedExercice.parametres.repetition"/>
                </div>  
                <div class="duree">
                    <label>Durée</label>
                    <input type="number" [(ngModel)]="selectedExercice.parametres.duree"/>
                </div>
                <div *ngIf="selectedExercice.refExercice=='Étirement du trapèze'" class="tenir">
                    <label>Tenir</label>
                    <input type="number" [(ngModel)]="selectedExercice.parametres.tenir"/>
                </div>
                <div class="tempo">
                    <label>Tempo</label>
                    <input type="number" [(ngModel)]="selectedExercice.parametres.tempo"/>
                </div>       
            </div>
            <div class="jourSemaine">
                <div class="lundi"><mat-checkbox  [(ngModel)]="selectedExercice.parametres.dimanche">Dimanche</mat-checkbox></div>
                <div class="mardi"><mat-checkbox  [(ngModel)]="selectedExercice.parametres.lundi">Lundi</mat-checkbox></div>
                <div class="mercredi"><mat-checkbox  [(ngModel)]="selectedExercice.parametres.mardi">Mardi</mat-checkbox></div>
                <div class="jeudi"><mat-checkbox  [(ngModel)]="selectedExercice.parametres.mercredi">Mercredi</mat-checkbox></div>
                <div class="vendredi"><mat-checkbox  [(ngModel)]="selectedExercice.parametres.jeudi">Jeudi</mat-checkbox></div> 
                <div class="samedi"><mat-checkbox  [(ngModel)]="selectedExercice.parametres.vendredi">Vendredi</mat-checkbox></div>
                <div class="dimanche"><mat-checkbox  [(ngModel)]="selectedExercice.parametres.samedi">Samedi</mat-checkbox></div>
            </div>
            <mat-form-field style="padding-right: 5px;">
                <mat-label>Date de début</mat-label>
                <input matInput [matDatepicker]="datedebut"  [(ngModel)]="selectedExercice.parametres.dateDebut">
                <mat-datepicker-toggle matSuffix [for]="datedebut"></mat-datepicker-toggle>
                <mat-datepicker #datedebut></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Date de fin</mat-label>
                <input matInput [matDatepicker]="datefin" [(ngModel)]="selectedExercice.parametres.dateFin">
                <mat-datepicker-toggle matSuffix [for]="datefin"></mat-datepicker-toggle>
                <mat-datepicker #datefin></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="photo1" style="text-align: center;">
            <img src="assets/image/exercices/FlexionCoudeSupination1.png" style="width: 200px; height: 170px;">
        </div>

        <div class="photo2" style="text-align: center;">
            <img src="assets/image/exercices/FlexionCoudeSupination2.png" style="width: 200px; height: 170px;">
        </div>
    </div>

    <div>
        <button id="btnSauvegarderExercice" class="waves-effect waves-light btn-small custom-button"
            (click)="ajoutElement()" >
            {{btnSauvegardeMsg}}
        </button>
    </div>
</div>